[user]
	name = Owen Chu
	email = owenchu@gmail.com

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	log = auto

[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	b = branch
	ci = commit
	co = checkout
	d = diff
	dc = diff --cached
	g = grep
	lol = log --graph --oneline --decorate --all
	m = merge
	r = rebase
	st = status

[core]
	editor = /usr/local/bin/vim
	excludesfile = /Users/owenchu/.gitignore_global

[push]
	default = simple

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
